/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter

  background yellow
  transition all 0.5s
  transform translate(-120%)
  max-height 0
  padding 0 !important

  &.order-enter-active
    background yellow
    max-height 60
    padding 2rem 0 !important
    transform translateX(0);
